Python/.venv/
Python/build/
Python/dist/
Python/generate_embeddings.spec
Python/Reference
Python/email_to_json
DATA/100_Emails_DL/
C#/SmartEmail/bin/
C#/SmartEmail/obj/
C#/SmartEmail/JobApplicationManagement.csproj.user
C#/SmartEmail/SmartEmail
C#/SmartEmail/SmartEmail.csproj.user
C#/.vs/